
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("bg/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
    
    background-size: cover;
}
marquee{
    margin-top: 500px;
}